

h1 {
    font-family:cursive;
    text-align: center;
    font-size: 65;
    color: orangered;
        text-shadow: 19px 1px 20px darkorange;
}
header {
    font-size: 26;
    text-shadow: 1px 1px 6px firebrick;
}
 {
   font-size: 26;
    text-shadow: 1px 1px 6px orange; 
}
secondheader {
    font-size: 26;
    color: yellow;
    text-shadow: 1px 1px 6px orange; 
}
first {
    background-color: red;
}
a {
    color: ivory;
}