body {
    background-color: black;
}
Main page title {
    font-family:cursive;
    text-align: center;
    font-size: 65;
    color: orangered;
        text-shadow: 19px 1px 20px darkorange;
}
in H {
    font-size: 26;
    color: red;
    text-shadow: 1px 1px 6px firebrick;
}